.row
  .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h1.text-center Top ten users of the week
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Name
          %th Number of comments this week
      %tbody
        - @top_users.each_with_index do |user, i|
          %tr.top-users-row
            %td= i + 1
            %td= user.name
            %td= user.comments_this_week.count
